name: deploy
on:
  push:
    branches: [main]
    tags: [v*]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: health adapter image metadata
        id: meta_health_adapter
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/${{ github.repository }}-api
          labels: |
            org.opencontainers.image.licenses=MIT OR Apache-2.0
      - name: health adapter image build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile.binary
          push: true
          tags: ${{ steps.meta_health_adapter.outputs.tags }}
          labels: ${{ steps.meta_health_adapter.outputs.labels }}
